<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Posts</h1>
<ol>
    <% results.forEach(function(post) {%>
        <section class = "post-block">
            <li>
                <img src="<%= post.imageUrl %>" alt="Post image" width="50" height="50" />
                </li>
            <li class="post-title" style="font-size: 30px;">
                <%= post.message %>
            </li>
            <li>
                Posted on <%= post.createdAt %> by <%= post.postedBy.name %>
            </li>
            <li>
                <%= post.likedBy.length %> likes | <%= post.dislikedBy.length %> dislikes
            </li>

            <br /><br />
        </section>
                
    <% }); %>
</ol>

<%if (next) { %>
    <button><a href="<%= next %>">Next</a></button>
<% } %>

<%if (previous) { %>
    <button><a href="<%= previous %>">Previous</a></button>
<% } %>

</body>
<%- include('_footer') -%>
</html>